.section__title {
	margin: 25px 0;
	border-bottom: 1px solid white;
}

.chevron-button {
	position: relative;
	display: inline-block;
	font-size: 1.4rem;
	padding: 20px 40px;
	background-color: rgb(59, 194, 194);
	border: solid 1px #555;
	color: white;
	background-size: 20px 20px;
	transition: all 0.5s ease;
}

.chevron-button::after {
	position: absolute;
	top: 30%;
    right: 0.6em;
	content: "»";
	transition: all 0.5s ease;
	opacity: 0;
}

.chevron-button:hover {
	padding: 20px 60px 20px 20px;
}

.chevron-button:hover::after {
	right: 1.2em;
	opacity: 1;
}

.expanding-button__list{
	list-style: none;
}

.expanding-button__item {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	width: 100%;
}

.expanding-button__item span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	opacity: 0;
	transition: all 0.5s ease;
	cursor: pointer;
}

.expanding-button__item:hover span {
	width: 40px;
	opacity: 1;
}

.expanding-button__item span:hover {
	background: #d13929;
	color: rgb(236, 236, 236);
}