.code-block {
    background: #d4d4d4;
    color: black;
    padding: 4px 6px;
    font-family: monospace;
    font-size: 0.7rem;
    border-radius: 2px;
    display: inline-block;
    margin: 15px 0;
    border: 3px solid black;
  }